/*body{

  background: #e0e0cc;
  margin: 0;
}


ul {
    list-style-type: none;
    float:right;
    margin: 0;
    padding: 0;
    overflow: hidden;
  !*  background-color: #333;  *!

}

li {
  !*  float:right;  modif *!
    padding: 33px 25px;

}

li a {

    display: block;
    color: black;
    text-decoration: none;

}

#hamburger-content ul img {
    float: left;
    !*margin-right: 242px;  *!
    position: absolute;
    left: 10px;
}

.contenu-navbar{
    width: 100%;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    height:90px;

}

#menu{
     max-width: 970px;
     margin-left: auto;
     margin-right: auto;
}

#menu img{
     max-width: 66px;
     padding: 10px;

}

!*    End right-director              *!

.follow2 img {
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}

!*
.sections-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
}
*!
.section-inner{
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;

}

.contenu-principale {
     width: 62.66666667%;
     float:left;
     padding-right: 5px;
     padding-left: 5px;

}


!*
.container sections-wrapper{
    display: table;
}
*!



.img-film{
    width:100%;
}

section {
    margin-bottom: 30px;

}

.colonne-gauche{

    width: 33.33333333%;
    float:left;
    padding-right: 5px;
    padding-left: 15px;

}

.follow img{
     padding-left: 10px;
     padding-right: 10px;
     width: 10%;
}

.info-section {

  background: white;
  min-height: 1298px;

}

.populaire-post h2{
     margin-top: 50px;
     font-family: cursive;
     padding-left: 10px;
}


.liste-populaire ul img {
     width:25%;
}

.liste-populaire li p{
     float:right;
     width: 60%;
     color: red;
     padding-left: 5%;
}

.liste-populaire li span{
     float:right;
     color: grey;
}

.liste-populaire ul li{
    margin-top: 30px;
    padding: 38px 30px;
}

.section-social h2{
    font-family: cursive;
    padding-left: 10px;
}

.footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section-inner .text-footer {
     text-align: center;
}

.info-contenu ul  {
    display: inline;
  !*  float:left;   *!
}

.info-contenu ul li {
    !*float: left;   modif *!
    padding-top: 1px;
    padding-right: 1px;
}

.info-contenu ul li img{
     padding-right: 10px;
     padding-left: 10px;
}

.titre-text h2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: cursive;
}

.content p {
     padding-top: 50px;
     color: grey;
}

@media only screen and (max-width: 750px){

  #menu ul {
      display: none;
  }


.burger {
  position: absolute;
  width: 24px;
  height: 4px;
  background: blueviolet;
}

  !* L'element *!
 .burger, .burger::before, .burger::after {
  position: absolute;
  width: 24px;
  height: 4px;
  background: blueviolet;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.burger::before {
  margin-top: -8px;
}

.burger::after {
  margin-top: 8px;
}


!* L'animation *!
.burger:hover {
  !* L'opacite se propagerait aux pseudoelements, donc
   * on change la background-color
   *!
  background: white;
}
.burger:hover::before {
  margin-top: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger:hover::after {
  margin-top: 0px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.liste-populaire ul img {
    width: 15%;
}



}

@media only screen and (min-width: 750px){

#hamburger-button{
    display: none;
  }

.hamburger{
      display: none;
    }




}

@media only screen and (max-width: 750px){

.contenu-navbar {
      width: 100%;
}

.contenu-principale {

      width:100%;
  }

.img-film {
    width: 90%;
   !*    modif          *!
    display: block;
    margin-left: auto;
    margin-right: auto;
    !*    fin modif          *!
}


.content p {

    width: 80%;
!*modif  *!
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
}
!*    fin modif          *!
}

!*modif  *!
.titre-text h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: cursive;
    padding-left: 9%;
}

.info-contenu ul li {

    padding-left: 9%;
}

.populaire-post h2 {

    padding-left: 9%;
}

!*    fin modif          *!

.section-inner{

  width:100%;
}


!*modif  *!
.section-social h2 {
    padding-left: 9%;
}

.follow img {
    padding-left: 9%;
    padding-right: 5%;
    width: 10%;
}
!*    fin modif          *!
.colonne-gauche{
     width:100%;
}

.liste-populaire ul img {
    width: 15%;
}


.liste-populaire li p {
    float: right;
    width: 100%;
    color: red;
}

#hamburger-content ul li {
    float: right;
    padding: 38px 2px;
}



.liste-populaire li span {
    float: left;
    color: grey;
}*/





/***************************************** good code *****************************************/


/** global page **/

.content {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 1000px;

}

.left-content {
    width: 64%;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    background-color: white;
    min-height: 200px;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
}

.right-bar {
    width: 30%;
    background-color: white;
    min-height: 200px;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #262627;
    color: white;
    position: relative;
    margin: 0 -9999rem;
    padding: .25rem 9999rem;
}

.text-color {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #D68AB0), color-stop(0.25, #D8CE5D), color-stop(0.5, #6BD85D), color-stop(0.75, #5DB9D8), color-stop(1, #D85DCB));
    background-image: -webkit-linear-gradient(left, #D68AB0 0%, #D8CE5D 25%, #6BD85D 50%, #5DB9D8 75%, #D85DCB 100%);
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: Text-color 6s infinite;
    color: #33cccc;
    white-space: nowrap;
}

@keyframes Text-color {
    0%
    {
        background-position: 0% 100%;
    }
    50%
    {
        background-position: 100% 0%;
    }
    100%
    {
        background-position: 0% 100%;
    }
}

@media screen and (max-width: 750px){
    .left-content{
        width: 100%;
    }
    .right-bar{
        width:100%;
    }
}


/** page404 **/

.page404 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}


/** director page **/
.profil-directeur .info {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-top: 50px;
}

.profil-directeur h2 {
    text-align: center;
}

.profil-directeur img {
    max-width: 200px;
    display: inline-block;
}

.profil-directeur .director-img div {
    width: 100%;
    display: inline-block;
    height: 200px;
}

.profil-directeur span {
    color: yellowgreen;
}

.profil-directeur .director-img {
    display: inline-block;
    width: 50%;
}

@media screen and (max-width: 750px){
    .profil-directeur .info,
    .profil-directeur .director-img {
        width: 100%;
        display: block;
        text-align: center;
    }
}

aside {
    text-align: center;
}
aside ul {
    list-style-type: none;
}
aside img {
    width: 50%;
}

/** actor page **/
.profil-actor .info {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-top: 50px;
}

.profil-actor h2 {
    text-align: center;
}

.profil-actor .actor-img div {
    width: 100%;
    display: inline-block;
    height: 200px;
}

.profil-actor span {
    color: yellowgreen;
}

.profil-actor .actor-img {
    display: inline-block;
    width: 50%;
}

@media screen and (max-width: 750px){
    .profil-actor .info,
    .profil-actor .actor-img {
        width: 100%;
        display: block;
        text-align: center;
    }
}















* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #F0F0F0;
    font-size: 15px;
    color: #666;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a { text-decoration: none; }


.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.nav-fostrap {
    display: block;
    margin-bottom: 15px 0;
    background: #03A9F4;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
}

.nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.nav-fostrap li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #def1f0;
}

.nav-fostrap li a {
    font-size: 14px;
    color: #def1f0;
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

.nav-fostrap li .icon-cinems {
    padding: 10px 20px;
}

.nav-fostrap li:hover ul.dropdown { display: block; }

.nav-fostrap li ul.dropdown {
    position: absolute;
    display: none;
    width: 200px;
    background: #2980B9;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
    display: block;
    list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
    padding: 15px 20px;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }

.nav-fostrap li:hover a {
    background: #2980B9;
    color: #fff !important;
}

.nav-fostrap li:first-child:hover a { border-radius: 3px 0 0 3px; }

.nav-fostrap li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav-fostrap li ul.dropdown li:first-child:hover a { border-radius: 0; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    right: -5px;
    content: '';
}

.nav-choice {
    vertical-align: 15px;
}

.nav-choice a{
    padding: 24px 20px;
}

/** sortie **/


@media screen and (max-width: 750px){

    .nav-choice a{
        padding: 15px 20px;
    }

    .icon-cinems {
        text-align: center;
    }

    .nav-fostrap.visible {
        left: 0px;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }

    .nav-bg-fostrap {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #03A9F4;
        padding: 12px 0 0 10px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    .nav-fostrap {
        background: #fff;
        width: 200px;
        height: 100%;
        display: block;
        position: fixed;
        left: -200px;
        top: 0px;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
        margin: 0;
        border: 0;
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    .navbar-fostrap {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        cursor: pointer;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
    }

    .navbar-fostrap span {
        height: 2px;
        background: #fff;
        margin: 5px;
        display: block;
        width: 20px;
    }

    .navbar-fostrap span:nth-child(2) { width: 20px; }

    .navbar-fostrap span:nth-child(3) { width: 20px; }

    .nav-fostrap ul { padding-top: 50px; }

    .nav-fostrap li { display: block; }

    .nav-fostrap li a {
        display: block;
        color: #505050;
        font-weight: 600;
    }

    .nav-fostrap li:first-child:hover a { border-radius: 0; }

    .nav-fostrap li ul.dropdown { position: relative; }

    .nav-fostrap li ul.dropdown li a {
        background: #2980B9 !important;
        border-bottom: none;
        color: #fff !important;
    }

    .nav-fostrap li:hover a {
        background: #03A9F4;
        color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li:hover a {
        background: rgba(0,0,0,.1); !important;
        color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

    .nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

    .arrow-down {
        border-top: 5px solid #505050;
        position: absolute;
        top: 20px;
        right: 10px;
    }

}










